body {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

.badge {
    color: white;
    background: #458FF6;
    border-radius: 50%;
    border-color: white;
    font-size: 26px;
    line-height: 32.63px;
    }

#heading {
    color: #233348;
    ;
    font-size: 24px;
    line-height: 30.12px;
    display: inline;
    }

.active{
    font-weight: 700 !important;
}
.nav-item {
    font-size: 18px;
    line-height: 22.59px;
    font-weight: 400;
    color: #7D7987;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

#headcontent {
    font-weight:300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;    
}

.header button{
border-radius: 55px;
color: white;
font-size: 18px;
line-height: 60px;
background: #458FF6;
padding: 0 40px;
height: 56px;
display: flex;
align-items: center;
border:none;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;    
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
